<%- include('partials/header') %>


  <div class=" centered">


  <div class="content">
      <i class="fas fa-key fa-6x"></i>
  <h1 class="display-3 ">WELCOME TO MY SECRET PAGE..</h1>
  <p class="lead">You can freely share your life's secret on my website by simply creating your own account and you can read them at any point of time</p>
  </div>
  <div class="content2">
  <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>
</div>
















<%- include('partials/footer') %>
