<%- include('partials/header') %>
<div class=" container   mt-5 middle " >
<div class="centered">
  <h1 class="display-3 ">Share your secrets with us!!</h1>

  <form class="" action="/secrets/<%-username%>" method="post">
    <div class="input-group">
      <div class=" d-grid gap-2 col-6 mx-auto">
      <span class="input-group-text">Enter secrets here</span>
      <textarea class="form-control" rows="3" cols="3" name="value"></textarea>
    </div>
    </div>
    <div class="form-group">
    <div class="secret-button">


    <div class=" d-grid gap-2 col-6 mx-auto ">
       <button type="submit" class="btn btn-lg btn-dark">Save your secrets</button>

      </div>
    </div>
  </div>
  </form>
  </div>
</div>
